{% extends "layout.tmpl" %}
{% block title %}{{content.title}}{% endblock %}
{% block addlscript %}
<script type=text/javascript>
    $(document).ready(loadkills);
    function loadkills(){
        var request;
        var killjson;
        var str;
        if (window.XMLHttpRequest)
        {// code for IE7+, Firefox, Chrome, Opera, Safari
            request=new XMLHttpRequest();
        }
        else
        {// code for IE6, IE5
            request=new ActiveXObject("Microsoft.XMLHTTP");
        }
        if (window['lastKill'] == undefined){
            request.open("GET","{{ url_for('api') }}/killfp",false);
        } else {
            request.open("GET","{{ url_for('api') }}/killfp/"+window['lastKill'],false);
        }
        request.send();
        obj = JSON.parse(request.responseText);
        for(killid in obj.kills){
            var kill = obj.kills[killid];
            str = "<tr onclick=\"window.location.href='{{ url_for('kill') }}/" + kill.killID + "'\">"
            str += "<td width='64px'><a href='{{ url_for('kill') }}/" + kill.killID + "'><img src='{{g.staticImages}}/Render/" + kill.loss.itemID + "_64.png'></a></td>";
            str += "<td><a href='{{ url_for('ship') }}/" + kill.loss.itemID + "'><b>" + kill.loss.itemName + "</b></a><br><a href='{{ url_for('group') }}/" + kill.loss.groupID + "'>" + kill.loss.groupName + "</a></td>";
            str += "<td width='64px'><a href='{{ url_for('corp') }}/" + kill.loss.corpID + "'><img src='http://image.eveonline.com/Corporation/" + kill.loss.corpID + "_64.png'></a></td>"
            str += "<td><a href='{{ url_for('pilot') }}/pilot/" + kill.loss.charID + "'><b>" + kill.loss.charName + "</b></a><br><a href='{{ url_for('corp') }}/" + kill.loss.corpID + "'>" + kill.loss.corpName + "</a></td>";
            str += "<td width='64px'><a href='{{ url_for('kill') }}/" + kill.killID + "'><img src='{{g.staticImages}}/Render/" + kill.fb.itemID + "_64.png'></a></td>";
            str += "<td><a href='{{ url_for('pilot') }}/" + kill.fb.charID + "'><b>" + kill.fb.charName + "</b></a><br><a href='{{ url_for('corp') }}/" + kill.fb.corpID + "'>" + kill.fb.corpName + "</a></td>";
            str += "<td>" + kill.region + "/" + kill.system + " (" + kill.secstatus + ")<br><div style=\"float:left\"><i class=\"icon-user\"></i>" + kill.numkillers + "</div><div style=\"float:right\">" + kill.hours + "</div></td></tr>";
            $('#killtable').find('tbody:last').append(str);
            if(kill.killID > window['lastKill'] || window['lastKill'] == undefined){
                window['lastKill'] = kill.killID;
            }
        }
        setTimeout("loadkills();", 15000);
        document.getElementById('killtable').border="0";
    }
    
</script>
{% endblock %}
{% block content %}
{% if content.ad %}
{{ content.support }}
{{ content.ad|safe }}
{% endif %}
<i class="icon-eye-open"></i>Most expensive kills - Last 7 days
<hr>
<table class="table table-striped">
    <tr>
        {% for kill in content.topkills %}
        <td align=center onclick="window.location.href='{{ url_for('kill') }}/{{kill.killid}}'">
            <a href="{{ url_for('pilot') }}/{{kill.pilotid}}">{{kill.pilotname}}</a><br>
            <a href='{{ url_for('kill') }}/{{kill.killid}}'><img src="{{g.staticImages}}/Render/{{kill.shipid}}_128.png" alt="{{kill.shipname}}"></img></a><br>
            <a href="{{ url_for('ship') }}/{{kill.shipid}}">{{kill.shipname}}</a><br>
            {{kill.iskloss}}
        </td>
        {% endfor %}
    </tr>
</table>
<i class="icon-eye-open"></i>Most capsule kills - Last 7 days
<hr>
<table class="table table-striped">
    <tr>
        {% for kill in content.topcapsules %}
        <td align=center onclick="window.location.href='{{ url_for('kill') }}/{{kill.killid}}'">
            <a href="{{ url_for('pilot') }}/{{kill.pilotid}}">{{kill.pilotname}}</a><br>
            <a href='{{ url_for('kill') }}/{{kill.killid}}'><img src="{{g.staticImages}}/Render/{{kill.shipid}}_128.png" alt="{{kill.shipname}}"></img></a><br>
            <a href="{{ url_for('ship') }}/{{kill.shipid}}">{{kill.shipname}}</a><br>
            {{kill.iskloss}}
        </td>
        {% endfor %}
    </tr>
</table>
<i class="icon-eye-open"></i><center>{{ content.date }}</center>
<table class="table table-striped" id="killtable">
    <tr>
        <th colspan="2">Ship</th>
        <th colspan="2">Victim</th>
        <th colspan="2">Final Blow</th>
        <th>Location</th>
    </tr>
    <tbody>
    </tbody>
</table>
{% endblock %}
